.icon-stack {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2em;
  height: 2em;

  overflow: hidden;

  @include prefix(transition, all $stack-anim-duration $stack-anim-ease, webkit moz o);

}

.icon-stack .fa {
  @include prefix(transition, all $icon-anim-duration $icon-anim-ease, webkit moz o);
  color: $icon-color;
}

.stack-circle {
  border-radius: 50%;
}

.stack-square {
  border-radius: $stack-square-radius;
}

.stack-square-o {
  border-radius: $stack-square-radius;
  border-width: $stack-square-o-width;
  border-style: solid;
  background-color: transparent;
}

.stack-4x {
  font-size: $stack-4x;
  border-width: $stack-square-o-width-4x;
}

.stack-3x {
  font-size: $stack-3x;
  border-width: $stack-square-o-width-3x;
}

.stack-2x {
  font-size: $stack-2x;
  border-width: $stack-square-o-width-2x;
}

#{list_to_classes(normal-brand-names($social-list))} {
  &.stack-circle,
  &.stack-square {
    &:hover,
    &:focus {
      background-color: $stack-hover-color;
    }
  }
}

#{list_to_classes(brand-names($social-list))} {
  &.stack-circle,
  &.stack-square {

    &:hover,
    &:focus {

      box-shadow: long-shadow($stack-shadow-color, $stack-shadow-length, "inset", $stack-shadow-blur);

      .fa {
        text-shadow: long-shadow($icon-shadow-color, $icon-shadow-length);
      }
    }
  }
}

@each $name in $social-list {

  // Set default shadow and stack color
  $is-inverse: false;

  @if contains(inverted-brand-names($social-list), nth($name, 1)) {
    $is-inverse: true;
  }

  // for each brand names
  .#{nth($name, 1)} {
    &.stack-circle,
    &.stack-square {

      background-color: nth($name, 2);

      &:hover .fa-#{nth($name, 1)} ,
      &:focus .fa-#{nth($name, 1)} {
        @if $is-inverse == false {
          color: lighten(nth($name, 2), $icon-color-lighten-amount);
        }
      }
    }

    &.stack-square-o {

      border-color: nth($name, 2);

      .fa-#{nth($name, 1)} {
        color: nth($name, 2);
      }

      &:hover,
      &:focus {

        box-shadow: long-shadow(transparentize(lighten(nth($name, 2), $icon-shadow-lighten-amount), $icon-shadow-alpha-amount), $icon-shadow-length-o, "inset");

        .fa-#{nth($name, 1)} {
          text-shadow: long-shadow(transparentize(lighten(nth($name, 2), $icon-shadow-lighten-amount), $icon-shadow-alpha-amount), $icon-shadow-length-o);
        }
      }
    }
  }
}
